<%= link_to "Chatroom", root_path, class: "item" %>
      <div class="right menu">
        <% if logged_in? %>
          <div class="item">
            Signed in as <strong><%= current_user.username %></strong>
          </div>
          <div class="item">
            <%= button_to "Log out", logout_path, method: :delete, class: "ui primary button" %>
          </div>
        <% else %>
          <div class="item">
            <%= link_to "Log in", login_path, class: "ui button" %>
          </div>
        <% end %>